/*Start Main Framwork*/
/*
*********************************************************************
** Classess Not In Bootstrap And Use It Usually And Global **********
*********************************************************************
*/
body
{
  /*height: 8000px;*/
}
*
{
    font-family: 'Poppins', 'sans-serif';
}
.main-color
{
  color: #104d9e;
}
.blue-back
{
  background-color: #124fa2;
  color: #fff;
}
.text-muted
{
  color: #8c8c8c !important;
}
.rounded
{
  overflow: hidden;
}
a
{
  text-decoration: none;
  color: inherit;
}
a:hover
{
  color: inherit;
  text-decoration: none;
}
.disabled
{
  display: none !important;
}
.font-weight-500
{
  font-weight: 500;
}
.font-weight-600
{
  font-weight: 600;
}
.font-weight-700
{
  font-weight: 700;
}
input:read-only
{
  background-color: #fff !important;
}

input[type="submit"]
{
    background: #124ea2;
    border-radius: 20px;
    color: #fff;
    border: none;
    font-size: 15px;
    padding: 10px 40px;
}
.result
{
  max-height: 300px;
  overflow-y: scroll;
}
.result .regEx
{
  color: #124ea2;
  border-bottom: 1px solid #ddd;
  width: 90%;
  padding: 5px 2px;
  cursor: pointer;
}
.result .regEx:last-of-type
{
  border: none;
}
hr
{
  margin: 10px 0;
}
.form-control:focus
{
  border-color: #124ea2a8;
  box-shadow: 0 0 2px 0px #124ea29e;
}
.special-h
{
  font-size: 30px;
  color: #124ea2;
  font-weight: 500;
  text-align: center;
  margin-bottom: 40px;
}
.special-h span
{
  color: #eb008c;
}

/**Start Countries*/
.countries-container
{
  position: relative;
}
.countries-container .countries-list-result
{
  background: #fff;
  box-shadow: 0 0 20px 1px #ddd;
  width: 300px;
  max-height: 300px;
  border-radius: 20px;
  overflow-y: scroll;
  display: none;
  overflow: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 9;
}
.countries-container .countries-list-result li
{
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
  transition: .2s;
}
.countries-container .countries-list-result li:hover
{
  background: #124ea2;
  color: #fff;
}
/**End Countries*/
@media (min-width: 1750px)
{
    .special-h,
    .special-h2,
    .special-h span,
    .special-h2 span
    {
        font-size: 1.5vmax !important;
    }
    .header-p
    {    
        font-size: 1.2vmax;
    }
}
/* Change Container Width */
/*
@media (min-width: 1750px) {
    .container {
        max-width: 76%;
    }
}
*/
/*End Main Framwork*/

/*Main Color #124ea2 */
/********************************************************/
/******************* Start Home Page ********************/
/********************************************************/
/*Start Upper Bar*/
.upper-bar ul
{
  line-height: 2.2;
}
.upper-bar .brand-name
{
  cursor: pointer;
}
.upper-bar .upper-search
{
  display: none;
}
.upper-bar .brand-name .image
{
  width: 9em;
}
.upper-bar .brand-name .image img
{
  width: 100%;
}
.upper-bar img.icon
{
  width: 1.1em;
  height: 1.1em;
}
.upper-bar a
{
  font-size: 15px;
}
.upper-bar ul li
{
  color: #124ea2;
  cursor: pointer;
}
@media (min-width: 1750px) {

  .upper-bar a
  {
    font-size: 1.1vmax;
  }
  .upper-bar .brand-name .image img
  {
    width: 14vmax;
  }
  .upper-bar img.icon
  {
    width: 1.8em;
    height: 1.8em;
  }
}
/*End Upper Bar*/
/*Start Navbar*/
.navbar
{
  background-color: #124ea2;
}
.navbar  .navbar-nav .nav-item .nav-link
{
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}
.navbar .call-today
{
  color: #fff;
  font-size: 15px;
}
.navbar .navbar-collapse .search-container
{
  display: none;
}
.navbar .navbar-collapse .search-container .search_input
{
  width: 7em;
}
.navbar .navbar-collapse .search-container .btn
{
  color: #fff;
  border-color: #fff;
}
.navbar .navbar-collapse .search
{
  color: #fff;
  cursor: pointer;
}
.navbar .nav-item
{
  position: relative;
}
.navbar .nav-item .Drop-Down
{
  width: 600px;
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  z-index: 999;
  border-radius: 10px;
  box-shadow: 0px 7px 20px -3px #30303085;
  display: none;
}
.navbar .nav-item .Drop-Down span
{
  color: #222;
}
.navbar .nav-pills .nav-link.active,
.navbar .nav-pills .show>.nav-link
{
  background: transparent;
  color: #222 !important;
}
.navbar .nav-item .Drop-Down .nav-pills a
{
  position: relative;
}
.navbar .nav-item .Drop-Down .tab-pane a
{
  color: #124ea2;
}
.navbar .nav-item .Drop-Down .nav-pills a
{
  color: #124ea2;
}
@media (min-width: 1750px) {
  .navbar .nav-item .Drop-Down span
  {
    font-size: 1vmax;
  }
  .navbar .navbar-nav .nav-item .nav-link
  {
    font-size: 1.1vmax;
  }
  .navbar .nav-item .Drop-Down
  {
    width: 70vmax;
  }
  .navbar .nav-item .Drop-Down .tab-pane a
  {
    font-size: 1vmax;
  }
  .navbar .navbar-collapse .search
  {
    font-size: 1vmax;
  }
  .navbar .navbar-collapse .search-container .search_input
  {
    width: 12em;
  }
}
@media (max-width: 576px) {
  .navbar .nav-item .Drop-Down
  {
    width: 100%;
  }
}
/*End Navbar*/

/**********************************************************************************************/
/***************************************Start Home Page****************************************/
/**********************************************************************************************/
/*Start Slider*/
.slider
{
  height: 90vh;
  position: relative;
}
.slider .carousel-control-next, .slider .carousel-control-prev
{
  z-index: 999;
  height: 50px;
  top: 50%;
}
.slider .carousel-inner .carousel-item .overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  padding-bottom: 50px;
}
.slider .carousel-inner .carousel-item img
{
  -o-object-fit: cover;
  object-fit: cover;
}
.slider .carousel-inner .carousel-item .overlay .content .unite,
.slider .carousel-inner .carousel-item .overlay .content .sale
{
  color: #fff;
  position: relative;
  width: 300px;
}
.slider .carousel-inner .carousel-item .overlay .content .unite
{
  z-index: 2;
}
.slider .carousel-inner .carousel-item .overlay .content .sale
{
  transform: translateY(-15px);
  z-index: 1;
}
.slider .carousel-inner .carousel-item .overlay .content .unite span,
.slider .carousel-inner .carousel-item .overlay .content .sale span
{
  position: relative;
  z-index: 2;
  font-size: 25px;
}
.slider .carousel-inner .carousel-item .overlay .content .unite::after,
.slider .carousel-inner .carousel-item .overlay .content .sale::after
{
  content: "";
  background-color: #26c9ff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: .5em;
  transform: skewX(30deg);
}
.slider .carousel-inner .carousel-item .overlay .content .sale::after
{
  background-color: #124ea2;
  transform: skewX(-30deg);
}
.slider .carousel-inner .carousel-item .overlay .content p
{
  color: #fff;
  width: 430px;
  line-height: 1.9;
  /*
  font-size: 16px;
  */
  font-size: 25px;
}
.slider .carousel-inner .carousel-item .overlay .content .info-img-box .info-image
{
  width: 14vmax;
  height: 14vmax;
  border: 5px solid #ec008c;
  border-radius: 50%;
  position: relative;
}
.slider .carousel-inner .carousel-item .overlay .content .info-img-box .info-image1
{
  z-index: 1;
}
.slider .carousel-inner .carousel-item .overlay .content .info-img-box .info-image2
{
  width: 15vmax;
  height: 15vmax;
  z-index: 3;
  transform: translateX(-1.5em);
}
.slider .carousel-inner .carousel-item .overlay .content .table td,
.slider .carousel-inner .carousel-item .overlay .content .table th
{
  border: none;
  color: #fff;
  padding: 4px 10px;
  font-size: 1.3vmax;
}
.slider .carousel-inner .carousel-item .overlay .content .text
{
  background: linear-gradient(130deg, rgba(0, 35, 139, 0.6) , rgba(236, 0, 140, 0.6));
  border-radius: 2em;
  padding: 1em;
  padding-left: 4em;
  transform: translateX(-6em);
  position: relative;
  z-index: 2;
}
@media (min-width: 1750px) {
  .slider .carousel-inner .carousel-item .overlay .content .text-box
  {
    margin-top: 80px
  }
  .slider .carousel-inner .carousel-item .overlay .content .unite,
  .slider .carousel-inner .carousel-item .overlay .content .sale
  {
    width: 450px;
    height: 100px;
  }
  .slider .carousel-inner .carousel-item .overlay .content .unite span,
  .slider .carousel-inner .carousel-item .overlay .content .sale span
  {
    font-size: 1.8vmax;
  }
  .slider .carousel-inner .carousel-item .overlay .content p
  {
    width: 26em;
    font-size: 1.3vmax;
  }
  .slider .carousel-inner .carousel-item .overlay .content .text
  {
    height: 12vmax;
    padding-left: 5em;
  }
  .carousel-control-next-icon,
  .carousel-control-prev-icon
  {
    width: 40px;
    height: 40px;
  }
  .slider .carousel-inner .carousel-item .overlay .content .info-img-box .info-image1
  {
    width: 14vmax;
    height: 14vmax;
  }
  .slider .carousel-inner .carousel-item .overlay .content .info-img-box .info-image2
  {
    width: 15vmax;
    height: 15vmax;
  }
  
}
@media (min-width: 1200px) and (max-width: 1439px) and (max-height: 900px){
  .slider .carousel-inner .carousel-item .overlay .content p
  {
    font-size: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  /*
  .slider .carousel-inner .carousel-item .overlay .content
  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  */
  .slider .carousel-inner .carousel-item .overlay .content p
  {
    /*
    width: 100%;
    */
    font-size: 2.2vmax;
  }
  .slider .carousel-inner .carousel-item .overlay .content .info-img-box .info-image
  {
    width: 13vmax;
    height: 13vmax;
  }
  .slider .carousel-inner .carousel-item .overlay .content .info-img-box .info-image2
  {
    width: 15vmax;
    height: 15vmax;
  }
  .slider .carousel-inner .carousel-item .overlay .content .table td,
  .slider .carousel-inner .carousel-item .overlay .content .table th
  {
    font-size: 1.6vmax;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .slider .carousel-inner .carousel-item .overlay .content .unite span,
  .slider .carousel-inner .carousel-item .overlay .content .sale span
  {
    font-size: 30px;
  }
  .slider .carousel-inner .carousel-item .overlay .content p
  {
    font-size: 25px;
  }
  .slider .carousel-inner .carousel-item .overlay .content .info-img-box .info-image.info-image1
  {
    width: 15vmax;
    height: 15vmax;
  }
  .slider .carousel-inner .carousel-item .overlay .content .info-img-box .info-image.info-image2
  {
    width: 17vmax;
    height: 17vmax;
  }
  .slider .carousel-inner .carousel-item .overlay .content .text
  {
    padding-left: 0;
    transform: translate(0);
    margin-top: 10px;
  }
  .slider .carousel-inner .carousel-item .overlay .content .table td, .slider .carousel-inner .carousel-item .overlay .content .table th
  {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  
  .slider .carousel-inner .carousel-item .overlay .content .unite,
  .slider .carousel-inner .carousel-item .overlay .content .sale
  {
    width: 200px;
    height: auto;
    display: flex !important;
    align-content: center;
    justify-content: center;
    padding: 10px 0;
  }
  .slider .carousel-inner .carousel-item .overlay .content .unite span,
  .slider .carousel-inner .carousel-item .overlay .content .sale span
  {
    font-size: 17px;
  }
  .slider .carousel-inner .carousel-item .overlay .content p
  {
    /*
    width: 100%;
    */
    font-size: 13px;
    text-align: center;
  }
  .slider .carousel-inner .carousel-item .overlay .content .text
  {
    padding: 10px;
    transform: none;
    width: 45vmax;
    /*
    width: 33vmax;
    */
  }
  .slider .carousel-inner .carousel-item .overlay .content .table
  {
    margin-bottom: .5rem;
  }
  .slider .carousel-inner .carousel-item .overlay .content .table td,
  .slider .carousel-inner .carousel-item .overlay .content .table th
  {
    padding: 1px 5px;
    font-size: 1.9vmax;
  }
  
}
@media(max-width: 567px) {
  .slider .carousel-inner .carousel-item .overlay .content p
  {
    width: 100%;
  }
}
@media (min-height: 320px) and (max-height: 479px) {
  .slider
  {
    height: auto !important;
  }
}
/*Iphon 4*/
@media (max-width: 320px) and (max-height: 480px) {
  .upper-bar
  {
    padding: 7px 0 !important ;
  }
  .slider .carousel-inner .carousel-item .overlay .content .unite span, .slider .carousel-inner .carousel-item .overlay .content .sale span
  {
    font-size: 11px;
  }
  .slider .carousel-inner .carousel-item .overlay .content p
  {
    font-size: 13px;
  }
  .slider .carousel-inner .carousel-item .overlay .content .info-img-box
  {
    flex-direction: row !important;
  }
  .slider .carousel-inner .carousel-item .overlay .content .info-img-box .info-image1
  {
    width: 12vmax;
    height: 12vmax;
    border: 3px solid #ec008c;
    margin-bottom: 7px !important;
  }
  .slider .carousel-inner .carousel-item .overlay .content .info-img-box .info-image2
  {
    width: 12vmax;
    height: 12vmax;
    transform: translateX(0);
    border: 3px solid #ec008c;
  }
}
/*End Slider*/



/*Slider Range*/

/*Start One Step [From Only]*/
.ui-slider.ui-corner-all.ui-slider-horizontal.ui-widget.ui-widget-content
{
  height: .4em;
  background: #124ea2;
}
.ui-slider-range.ui-corner-all.ui-widget-header.ui-slider-range-max
{
  background: transparent;
}
.ui-slider-handle.ui-corner-all.ui-state-default
{
  border: 3px solid #ec008c;
  border-radius: 50%;
  background: #fff;
}
/*End One Step [From Only]*/

/*Start Tow Step [From Only]*/
.range-slide.ui-slider.ui-corner-all.ui-slider-horizontal.ui-widget.ui-widget-content
{
  height: 8px;
  background: #acaead;
}
.range-slide.ui-slider-horizontal .ui-slider-range
{
  background: #124ea2;
}
/*End Tow Step [From Only]*/

/*Start Accordion*/
.ui-accordion .ui-accordion-header
{
  border: 1px solid #ddd;
  margin: 10px 0;
  position: relative;
  transition: .1s;
  font-size: 20px;
  background: #e6e6e6;
}
.ui-accordion .ui-accordion-header.ui-accordion-header-active
{
  background: #113992 ;
}
.ui-accordion .ui-accordion-header::after
{
  content: "\f078";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.ui-accordion .ui-accordion-header.filter::after
{
  content: "";
  background: url("../images/search_result/filter_icon_black.png") no-repeat center center;
  background-size: 100% 100%;
  width: 20px;
  height: 50%;
}
.ui-accordion .ui-accordion-header.filter.ui-accordion-header-active::after
{
  background: url("../images/search_result/filter_icon.png") no-repeat center center;
  background-size: 100% 100%;
  width: 20px;
  height: 50%;
}
@media (min-width: 1750px) {
  .ui-accordion .ui-accordion-header.filter::after
  {
    width: 1vmax;
  }
}
.ui-accordion .ui-accordion-content
{
  padding: 0;
  border: none;
}
.accordion-content.filter-acc.ui-accordion-content.ui-corner-bottom.ui-helper-reset.ui-widget-content.ui-accordion-content-active,
.accordion-content.search-box.ui-accordion-content.ui-corner-bottom.ui-helper-reset.ui-widget-content.ui-accordion-content-active
{
  border: none;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover
{
  background: #113992;
}
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon, .ui-button:hover .ui-icon, .ui-button:focus .ui-icon,
.ui-icon, .ui-widget-content .ui-icon
{
  display: none;
}
#flight-result-accordion .accordion-title
{
  border-radius: .5em;
}
/*End Accordion*/


.return-date-box input[type="checkbox"]
{
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.return-date-box .return-check
{
  width: 35px;
  height: 10px;
  background: #ddd;
  border-radius: 20px;
  position: relative;
  margin: 0;
  cursor: pointer;
}
.return-date-box .return-check::after
{
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  background: #888;
  transform: translateY(-50%);
  transition: .3s;
}
@media (min-width: 1750px) {
  
  .ui-accordion .ui-accordion-header
  {
    font-size: 1.1vmax; 
  }
  .return-date-box .return-check
  {
    width: 60px;
    height: 16px;
  }
  .return-date-box .return-check::after
  {
    width: 30px;
    height: 30px;
  }
}
.return-date-box input[type="checkbox"]:checked ~ .return-check::after
{
  left: 100%;
  transform: translateX(-100%) translateY(-50%);
  background: #124ea2;
}



/*Start jq-selectbox*/
.jq-selectbox .ui-selectmenu-button.ui-button
{
    border-radius: .4em;
    background: #fff;
    width: 100%;
    height: 2.5em;
}
.jq-selectbox .ui-state-active,
.jq-selectbox .ui-widget-content .ui-state-active,
.jq-selectbox .ui-widget-header .ui-state-active,
.jq-selectbox a.ui-button:active,
.jq-selectbox .ui-button:active,
.jq-selectbox .ui-button.ui-state-active:hover
{
    background: #fff;
    color: #222;
    border : 1px solid #ddd;
}
.jq-selectbox .select-box
{
    position: relative;
}
.jq-selectbox .ui-selectmenu-button::after
{
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    display: block;
    color: #104d9e;
}
.jq-selectbox .ui-selectmenu-text
{
  color: #8c8c8c;
  font-size: 15px;
}
@media (min-width: 1750px) {
  
  .jq-selectbox .ui-selectmenu-text
  {
    font-size: 1vmax;
  }
}
.ui-widget.ui-widget-content
{
  max-height: 15em;
}
/*End jq-selectbox*/

/*Start jq datepicker*/
#ui-datepicker-div
{
  box-shadow: 0 0 5px 1px #bcbcbc;
}
.ui-datepicker .ui-datepicker-header
{
  background: #fff;
  border: none;
}
.ui-datepicker-prev.ui-corner-all,
.ui-datepicker-next.ui-corner-all
{
  border: none;
  cursor: pointer;
}
.ui-datepicker-next.ui-corner-all:hover
{
  background: #e9ebee;
}
#ui-datepicker-div .ui-state-default
{
  background-color: #e9ebee;
  color: #080808;
  text-align: center;
  transition: .1s;
}
#ui-datepicker-div .ui-state-default:hover,
#ui-datepicker-div .ui-state-default.ui-state-active
{
  background: #113992;
  color: #fff;
}
#ui-datepicker-div .ui-state-highlight,
#ui-datepicker-div .ui-widget-content .ui-state-highlight,
#ui-datepicker-div .ui-widget-header .ui-state-highlight
{
  background: #222;
  color: #fff;
  text-align: center;
}
#ui-datepicker-div .ui-state-default,
#ui-datepicker-div .ui-widget-content .ui-state-default,
#ui-datepicker-div .ui-widget-header .ui-state-default,
#ui-datepicker-div.ui-button,
html #ui-datepicker-div .ui-button.ui-state-disabled:hover,
html #ui-datepicker-div .ui-button.ui-state-disabled:active
{
  border:none;
  text-align: center;
}
.ui-datepicker td
{
  padding: 0;
}

/*
*/
/*End jq datepicker*/


